extends template/layout

block content
	#main.container
		h1 About me
			h2
				ul
					li
						| BonusPlay
					li
						a(href='http://taw.net', target='_blank') The Art of Warfare
						|	clan member [LL 2FS]
					li
						a(href='http://new.ppy.sh/u/BonusPlay3', target='_blank') osu! profile
					li
						a(href='http://steamcommunity.com/id/allanjelly', target='_blank') steam profile
					li
						a(href='http://soundcloud.com/bonusplay', target='_blank') soundcloud
		br
		h1 Tools I use
			h2
				ul
					li
						| Assembly - IDA / OllyDbg
					li
						| C / C++ - Visual Studio
					li
						| Java - InteliJ IDEA
					li
						| Android - Android Studio
					li
						| NodeJS - Notepad++ (really)
					li
						| FTP-SSL - WinSCP + PuTTY
					li
						| HTML5 - Notepad++ (really)
					li
						| Sound Editing - Audacity
					li
						| Video Editing - Sony Vegas Pro 13