extends template/layout

block content
	#main.container
		#center
			h1
				p root@bonusplay.pl
			h2
				p or message me on 
			h1
				a(href='https://discord.gg/hhH8Vua', target='_blank') my discord server