extends template/layout

block content
	style.
		body {
			background-image: url("http://i.imgur.com/6G67CNf.png");
		}
		#main {
			position: relative;
			top: 50%;
			transform: translateY(50%);
		}
	#main.container
		iframe(width='600', height='400', src='https://www.youtube.com/embed/koLPQRpEAVU', frameborder='0', allowfullscreen='')