extends base/layout

block content
	main
		section#one.container-fluid
			image.bg(src='/images/taw.png')
			.quote
				i “The best gaming community ever.”
				.author
					| - BonusPlay
			#wedge-one.wedge-bottom
		section#two.container-fluid.row
			.col-6
				div
					h3 Tools I use:
					ul
						li Assembly - IDA / OllyDbg
						li C / C++ - Visual Studio 2015 + Resharper
						li Java - InteliJ IDEA
						li Android - Android Studio
						li NodeJS - Notepad++ (really)
						li HTML5 - Notepad++ (really)
						li FTP-SSL - WinSCP + PuTTY
						li Sound Editing - Audacity
						li Video Editing - Sony Vegas Pro 13
						li Modeling & Animation - 3ds Max 2017
						li Game Creating - Unity
			.col-6
				div
					h3 About me:
					ul
						li BonusPlay
						li
							a(href='http://taw.net/') The Art of Warfare
							|  clan member [LL 2FS]
						li
							a(href='http://new.ppy.sh/u/BonusPlay3') osu! profile
						li
							a(href='http://soundcloud.com/bonusplay') soundcloud
						li
							a(href='https://myanimelist.net/animelist/bonusplay') MyAnimeList
						li Contact at root@bonusplay.pl
		section#three.container-fluid
			#wedge-two.wedge-top
			image.bg(src='/images/holo.jpg')
			#quote-three
				i “Holo is the best.”
				.author
					| - BonusPlay
			#wedge-three.wedge-bottom
		section#four.container-fluid.row
			.col-6
				h3 My Projects
				ul
					li Discord C++ (WIP) [C++]
					li
						a(href='https://www.youtube.com/watch?v=ldCezTRB_0o') CounterBonus
						|  (Private) [ASM/C/C++]
					li
						a(href='https://github.com/BonusPlay3/CounterBonusPublic') CounterBonusPublic
						|  [ASM/C/C++]
					li TeamSpeakBonus (TS3 Plugin) [C]
					li HexaChess (WIP) [Java]
					li This Website [NodeJS/HTML5]
					li
						a(href='/snake') snake
						|  (written in 1h) [JS]
			.col-6
				h3 My Team Projects
				ul
					li
						a(href='http://hsmod.com') HSMod
					li 2 hackathon projects
			div
				| Note: I do not use cheats, I write them for fun and to increase my programming skills.