extends template/layout

block content
	#main.container
		img(src='/images/BonusPlayLong.png', width='100%')
		p(align='center') I have no idea what to put here :/
		iframe(width='600', height='400', src='/files/Hanzo.mp4', frameborder='0')