extends base/layout

block content
	main
		#top
			#title
				h1
					b BonusPlay
				| programmer, gamer
		section#one.container-fluid
			h1 About me
			.container
				img(src='/img/missing.png' height='600px' width='300px')
				div
					| This is a very long text about me, that contains very useless information.
					| This is a very long text about me, that contains very useless information.
					| This is a very long text about me, that contains very useless information.
					| This is a very long text about me, that contains very useless information.
		.spacer
		section#two.container-fluid
			h1 Technologies
			#technologies
				.category
					h2 WebDev
					.container
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/html5.png')
								p HTML5
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/jade.png')
								p Jade
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/sass.png')
								p SASS
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/jquery.png')
								p jQuery
						.tech(data-toggle='tooltip' data-placement='top' title='Novice')
							.content
								img(src='/img/icon/bootstrap.png')
								p Bootstrap
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/nodejs.png')
								p NodeJS
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/php.png')
								p PHP
				.spacer-half
				.category
					h2 Native
					.container
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/assembly.png')
								p ASM x86
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/c.png')
								p C
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/cpp.png')
								p C++
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/csharp.png')
								p C#
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/java.png')
								p Java
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/android.png')
								p Android
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/mysql.png')
								p SQL
					.spacer-half
					h2 Libraries
					.container
						.tech(data-toggle='tooltip' data-placement='top' title='Novice')
							.content
								img(src='/img/icon/hibernate.png')
								p Hibernate
						.tech(data-toggle='tooltip' data-placement='top' title='Novice')
							.content
								img(src='/img/icon/opencv.png')
								p OpenCV
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/libgdx.png')
								p LibGDX
				.spacer-half
				.category
					h2 Other
					.container
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/unity.png')
								p Unity3D
						.tech(data-toggle='tooltip' data-placement='top' title='Novice')
							.content
								img(src='/img/icon/ue.png')
								p Unreal Engine
						.tech(data-toggle='tooltip' data-placement='top' title='Novice')
							.content
								img(src='/img/icon/3dmax.png')
								p 3ds Max
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/idapro.png')
								p IDA Pro
						.tech(data-toggle='tooltip' data-placement='top' title='Novice')
							.content
								img(src='/img/icon/wireshark.png')
								p Wireshark
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/audacity.png')
								p Audacity
						.tech(data-toggle='tooltip' data-placement='top' title='Expert')
							.content
								img(src='/img/icon/vegaspro.png')
								p Vegas Pro 13
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/gimp.png')
								p Gimp
						.tech(data-toggle='tooltip' data-placement='top' title='Advanced')
							.content
								img(src='/img/icon/git.png')
								p Git
				.spacer-half
				.category
					h2 What I want to learn
					.container
						.tech
							.content
								img(src='/img/icon/spring.png')
								p Spring
						.tech
							.content
								img(src='/img/icon/python.png')
								p Python
		.spacer
		section#three.container-fluid.row.align-items-start
			#Projects.col-4
				h2 Projects
				a(href='www.hsmod.com')
					img(src='/img/icon/unity.png')
					p HSMod
				a(href='https://github.com/BonusPlay3/Profiler')
					img(src='/img/icon/android.png')
					p Profiler
				a
					img(src='/img/icon/cpp.png')
					p Discord C++ [WIP]
				a(href='https://github.com/BonusPlay3/CounterBonusPublic')
					img(src='/img/icon/cpp.png')
					p CounterBonus
				a
					img(src='/img/icon/c.png')
					p VLC to TS3 [WIP]
				a
					img(src='/img/icon/nodejs.png')
					p bonusplay.pl
				a
					img(src='/img/icon/java.png')
					p HexaChess [on hold]
			#Articles.col-4
				h2 Articles
				a(href='/article/re')
					img(src='/img/icon/assembly.png')
					p Reverse Engineering in practice
		.spacer
		section#four.container-fluid
			h1 Games
			#games
				| Placeholder
		.spacer
	//
		section#five.container-fluid.row
			h1 Quotes
			.col-md-4.offset-md-2
				.quote
					p We don't make mistakes,
					p we have happy little accidents.
					p.author Bob Ross
			.col-md-4.offset-md-2
					p The pain of flesh is fleeting,
					p true torment lasts forever.
					p.author Helblinde