extends base/layout

block content
	main.valign-wrapper
		#main.center-align.col.s12
			img(src='/images/BonusPlayLong.png', width='100%')
			p.valign(align='center') I have no idea what to put here :/
			video(width='600', height='320', controls='')
				source(src='/files/Hanzo.mp4' type='video/mp4')
		#about.col.s12
			.row.valign-wrapper
				.col.s9
					h2 About me
					ul.collection
						li.collection-item
							| BonusPlay
						li.collection-item
							a(href='http://taw.net', target='_blank') The Art of Warfare
							|	clan member [LL 2FS]
						li.collection-item
							a(href='http://new.ppy.sh/u/BonusPlay3', target='_blank') osu! profile
						li.collection-item
							a(href='http://steamcommunity.com/id/allanjelly', target='_blank') steam profile
						li.collection-item
							a(href='http://soundcloud.com/bonusplay', target='_blank') soundcloud
						li.collection-item
							a(href='https://myanimelist.net/animelist/bonusplay', target='_blank') MyAnimeList
					h2 Tools I use
					ul.collection
						li.collection-item
							| Assembly - IDA / OllyDbg
						li.collection-item
							| C / C++ - Visual Studio
						li.collection-item
							| Java - InteliJ IDEA
						li.collection-item
							| Android - Android Studio
						li.collection-item
							| NodeJS - Notepad++ (really)
						li.collection-item
							| FTP-SSL - WinSCP + PuTTY
						li.collection-item
							| HTML5 - Notepad++ (really)
						li.collection-item
							| Sound Editing - Audacity
						li.collection-item
							| Video Editing - Sony Vegas Pro 13
						li.collection-item
							| Modeling & Animation - 3ds Max 2017
				.col.s3.valign
					img(src='/images/avatar300.png')
		#contact.center-align.valign.col.s12
			h1
				p root@bonusplay.pl
				p or message me on
			a(href='https://discord.gg/hhH8Vua', target='_blank') 
				img(src='/images/discord.png', height='200px', alt='my discord server')