html
	head
		link(rel='stylesheet', href='/css/snake.css')
	body
		#board
			#fruit
			#snake
				#head.snake
		script(src='/js/jquery.min.js')
		script(src='/js/snake/fruit.js')
		script(src='/js/snake/snake.js')
		script(src='/js/snake/main.js')