@font-face {
	font-family: "Overwatch";
	src: url("https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff")
	format('woff');
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

main {
	margin: auto;
	flex: 1 0 auto;
	font-size: medium;
}

nav {
	background-color: #BD272D;
}

/* logo from navbar */
#logo {
	padding-left: 20px;
}

footer.page-footer {
	background-color: #BD272D;
	padding-top: 0px;
	margin-top: 0px;
}