body {
	text-align: center;
	display: inline-block;
}

#volume_bg {
	background-color: red;
    background-repeat: no-repeat;
	position: absolute;
	top: 8;
	left: 77;
	height: 64;
	width: 77;
}

#volume_fg {
	height: 64;
	left: 5;
	position: relative;
}