extends ../base/layout

block content
	main.article
		h1.center Reverse Engineering - Intro
		p This is the first part of my "Practical usages of reverse engineering" series. I'm not very good at writing long articles, so I'll try to keep it short. I'll be doing stuff on Windows 7 x64, but it can be done on linux as well. You'll be provided with some very helpful code for windows and linux and if you're using mac then kys.
		div.row
			div.col-6
				h2.center Volume 1 - Easy stuff:
				h3.center Prerequisites:
				ul
					li Knowledge of C
					li Knowledge of C++
					li Knowledge of ASM (basics)
					li.determination DETERMINATION
				h3.center Chapters:
				ul
					li
						a(href='/article/rev1c1') Basics of basics
					li
						a(href='/article/rev1c2') Overwriting stuff
					li Pointy pointers
					li External/Internal
			div.col-6
				h2.center Volume 2 - Hard stuff:
				h3.center Prerequisites:
				ul
					li Good knowledge of C
					li Good knowledge of C++
					li Good knowledge ASM
					li.determination DETERMINATION
				h3.center Chapters:
				ul
					li Advanced internals
					li VMT Hooking
					li DirectX
					li Cracking games
					li More coming soon...