extends ../base/layout

block content
	main.article
		div
			img(src='images/hello-there.gif')
			h1.center My articles:
			ul
				li
					a(href='/article/re') Practical usages of reverse engineering