header
nav.navbar.fixed-top
	.container-fluid.row
		div.col.navbar-brand
			a(href='/')
				img.d-inline-block.align-middle(src='/img/avatar64.png')
				b#navbar-name.align-middle BonusPlay
		#icons.container.col.align-self-end
			a(href='/github')
				img(src='/img/icon/github.png' height='50')
			a(href='/discord')
				img(src='/img/icon/discord.png' height='50')
			a(href='/youtube')
				img(src='/img/icon/youtube.png' height='50')
			a(href='/facebook')
				img(src='/img/icon/facebook.png' height='50')