header
nav.navbar.fixed-top
	.container-fluid.row
		a.col.navbar-brand(href='/')
			img.d-inline-block(src='/images/avatar64.png')
			span#navbar-name.align-middle BonusPlay
		#center.container.col-6
		#icons.container.col
			a(href='http://github.com/bonusplay3')
				img(src='/images/icon-github.png' height='50')
			a(href='https://discord.gg/hhH8Vua')
				img(src='/images/icon-discord.png' height='50')
			a(href='https://www.youtube.com/user/adamklis1975')
				img(src='/images/icon-youtube.png' height='50')
			a(href='http://fb.com/bonusplay3')
				img(src='/images/icon-fb.png' height='50')