@desktop: ~"only screen and (min-width: 1088px)";
@tablet: ~"only screen and (min-width: 769px) and (max-width: 1087px)";
@mobile: ~"only screen and (max-width: 768px)";

@primary: #6b1b80;
@secondary: lighten(@primary, 7.5%);
@text: whitesmoke;
@bg-1: #363636;

// vuetify implements text-no-wrap, but not this, lol
.text-wrap {
	white-space: normal
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

// code
#app code {
	 background-color: @bg-1;
	 box-shadow: none;
}

#app a code {
	color: #9a38ff;
}

#app pre > code {
	background-color: transparent;
}

// bring back lists, since vuetify removes them
#app ul {
	list-style: disc;
}

#app .v-expansion-panel {
	list-style: none;
}